# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://anushkapandit0412_db_user:jmetfBacRK8xdKHJ@cluster0.k8tierk.mongodb.net/

# JWT
JWT_SECRET=jwtgame_secret
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7

# Admin Credentials (initial seed)
ADMIN_EMAIL=nikhilpatil9798@gmail.com
ADMIN_PASSWORD=stellaruraa0425

# Cloudinary
CLOUDINARY_CLOUD_NAME=dc4kopqu9
CLOUDINARY_API_KEY=862445254746833
CLOUDINARY_API_SECRET=DrDPxGqmg3tfQW6ucMhOBVTaojg

# SMTP (Gmail App Password recommended)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nikhilpatil9798@gmail.com
SMTP_PASS=your_app_password

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
